@font-face {
    font-family: onest;
    src: url("/assets/fonts/onest.ttf");
}

@font-face {
    font-family: inter;
    src: url("/assets/fonts/inter.ttf");
}

@font-face {
    font-family: geist;
    src: url("/assets/fonts/geist.ttf");
}

@font-face {
    font-family: lexend;
    src: url("/assets/fonts/lexend.ttf");
}

@font-face {
    font-family: figree;
    src: url(/assets/fonts/figtree.ttf);
}

@font-face {
    font-family: jakarta;
    src: url(/assets/fonts/jakarta.ttf);
}

@font-face {
    font-family: google sans;
    src: url(/assets/fonts/googlesans.ttf);
}

@font-face {
    font-family: gg sans;
    src: url(/assets/fonts/gg-sans/reg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: gg sans;
    src: url(/assets/fonts/gg-sans/md.ttf);
    font-weight: 500;
}

@font-face {
    font-family: gg sans;
    src: url(/assets/fonts/gg-sans/smb.ttf);
    font-weight: 600;
}

@font-face {
    font-family: gg sans;
    src: url(/assets/fonts/gg-sans/bold.ttf);
    font-weight: 700;
}

* {
    font-family: gg sans, sans-serif;
}